bin/
obj/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates
*.log
.vs/
*.sln.docstates*.userprefs
*.tlog
TestResults/
*.nupkg
*.snupkg
**/packages/
.nuget
*.tmp
*.temp
node_modules/
project.lock.json
project.fragment.lock.json
artifacts/
appSettings.json
appsettings.Development.json
wwwroot/*
Properties/launchSettings.json